body{
	margin:5px;
}

header button{
	margin-top:5px;
	padding:10px;
}

.lista-chamados{
	width:50%;
}

.chamado{
	cursor: pointer;
}

.detalhes-chamado .form-group{
	border:1px solid gray;
	margin:3px;
}

.detalhes-chamado label{
	text-decoration: underline;
}

.loader {
	left: 50%;
	top: 50%;
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	      transform: translate(-50%, -50%); 
}

.loader #spinner {
	box-sizing: border-box;
	stroke: #29A;
	stroke-width: 3px;
	-webkit-transform-origin: 50%;
	        transform-origin: 50%;
	-webkit-animation: line 2.2s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 2.2s linear infinite;
	        animation: line 2.2s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 2.2s linear infinite; 
}

.dialog-container {
	background: rgba(0, 0, 0, 0.57);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 90%;
	margin-left:2%;
	opacity: 0;
	pointer-events: none;
	will-change: opacity;
	-webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
	transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1); 
}

.dialog-container--visible {
	opacity: 1;
	pointer-events: auto; 
}

.dialog {
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
	min-width: 280px;
	position: absolute;
	left: 50%;
	top: 50%;
	padding-top: 1%;
	padding-bottom: 5%;
	-webkit-transform: translate(-50%, -50%) translateY(30px);
	      transform: translate(-50%, -50%) translateY(30px);
	-webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
	transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
	transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
	transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s; 
}

.dialog > div {
	padding-left: 24px;
	padding-right: 24px; 
}

.dialog-title {
	padding-top: 20px;
	font-size: 1.25em; 
}

.dialog-body {
	padding-top: 20px;
	padding-bottom: 24px; 
}
.dialog-body select {
	width: 100%;
}


@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0);
		        transform: rotate(0); 
	}
	to {
		-webkit-transform: rotate(450deg);
		        transform: rotate(450deg); 
	} 
}

@keyframes rotate {
	from {
		-webkit-transform: rotate(0);
    	transform: rotate(0); 
	}
	to {
		-webkit-transform: rotate(450deg);
        transform: rotate(450deg); 
	} 
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); 
	}
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; 
	}
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); 
	} 
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); 
	}
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; 
	}
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } 
	}